@model IEnumerable<ScheduleP.Models.Docente>

@{
    ViewData["Title"] = "Index";
}

<h1>Docentes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDocente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasMaximas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDocente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasMaximas)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdDocente">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdDocente">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdDocente">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
