@model IEnumerable<ScheduleP.Models.Aula>

@{
    ViewData["Title"] = "Index";
}

<h1>Aulas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
