@model IEnumerable<ScheduleP.Models.Horario>

@{
    ViewData["Title"] = "Index";
}

<h1>Horarios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dia
            </th>
            <th>
                Hora Inicio
            </th>
            <th>
                Hora Fin
            </th>
            <th>
                Asignatura
            </th>
            <th>
                Aula
            </th>
            <th>
                Docente
            </th>
            <th>
                Grupo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAsignaturaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAulaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocenteNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGrupoNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHorario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHorario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHorario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
